
.jn-view-body{
    flex: 1;
    overflow: hidden;
    height: 100%;
    .jn-view-body-container{
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
        .palette {
            width: 200px;
            border: 1px solid #666;
        }
        .canvas {
            flex: 1;
            border: 1px solid #666;
            overflow: auto;
        }
        .info-panel {
            width: 200px;
            border: 1px solid #666;
            z-index: 1;
        }
    }
}