@import '../../control.scss';

json-editor{
  height: 300px;
  .jsoneditor{
    border: solid 1px $color-primary !important;
    div.jsoneditor-menu  {
      background-color: $color-primary;
      border-color: $color-primary;
      a.jsoneditor-poweredBy {
        display: none;
      }
      .jsoneditor-modes{
        .jsoneditor-contextmenu{
          .jsoneditor-selected{
            background-color: $color-primary;
          }
        }
      }
    }
    button.jsoneditor-compact{
      display: none;
    }
    button.jsoneditor-format{
      display: none;
    }
  }
}
