@import './global.scss';

*{
  font-size: 13px;
  color: $color-dark;
}

/* layout */
.pull-right{
  float: right;
}
.pull-left{
  float: left;
}
.clearfix{
  overflow: auto;
}

/* button */
.jn-btn{
  padding: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: $color-grey;
  &.btn-danger{
    background: $color-danger;
    color: $color-light;
  }
  &.btn-success{
    background: $color-success;
    color: $color-light;
  }
}

/* table */
table.jn-table{
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  thead>tr>th, tbody>tr>td{
    padding: 5px;
    margin: 0px;
    border: 1px solid #ddd;
  }
  tbody{
    tr:nth-child(odd){
      background-color: #f3f4f5;
    }
    tr:nth-child(even):hover{
      background-color: #f5f5f5;
    }
  } 
}

/* text */
input.jn-text{
  border: solid 1px #ccc;
  border-radius: 5px;
  width: 100%;
  height: 25px;
  line-height: 25px;
  padding: 4px;
  flex: 1;
}

/* textarea */
textarea.jn-textarea{
  border: solid 1px #ccc;
  border-radius: 5px;
  width: 100%;
  min-height: 50px;
  padding: 4px;
  flex: 1;
}