svg {
    .node_group {
        cursor: move;
        .node {
            stroke: #000;
            fill: #fff;
        }
        .port {
            cursor: crosshair;
            &:hover rect,
            &.hover rect {
                stroke: #ffa500;
                fill: #ffa500;
            }
            rect {
                stroke: #000;
                fill: #fff;
            }
        }
        path {
            stroke-width: 1;
            stroke: #000;
        }
        text {
            fill: #333;
            font-size: 14px;
        }
    }
    g.new_link path {
        stroke: #ffa500;
        stroke-width: 2px;
        fill: transparent;
    }
    g.link {
        path {
            stroke: #000;
            stroke-width: 2px;
            fill: transparent;
        }
        &.active path {
            stroke: #ffa500;
        }
    }
}

.ui-draggable-dragging {
    margin: 0 !important;
}