<div class="info-panel" *ngIf="info && data">
  <div class="info-panel-title">
    {{ 'Info Panel' | translate }}
  </div>
  <table class="info-table table">
    <thead>
      <tr>
        <th colspan="2"><caption>Info</caption></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let key of infoKeys">
        <td>{{key}}</td>
        <td>{{info[key]}}</td>
      </tr>
    </tbody>
  </table>
  <table class="data-table table">
    <thead>
      <tr>
        <th colspan="2"><caption>Data</caption></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let key of dataKeys">
        <td>{{key}}</td>
        <td>{{data[key]}}</td>
      </tr>
    </tbody>
  </table>
  <div class="complex-data">
    <!--<jn-info-panel-complex-data></jn-info-panel-complex-data>-->
  </div>
</div>