<div class="info-panel" *ngIf="info && data" [ngStyle]="{width: width + 'px'}">
  <div id="drag" (window:mousemove)="onMouseMove($event)" (window:mouseup)="onMouseUp($event)" (mousedown)="onMouseDown($event)">
  </div>
  <div class="info-panel-title">
    {{ 'Info Panel' | translate }}
  </div>
  <ul class="nav nav-tabs">
    <li [class.active]="isInfo" (click)="onInfoClick()">信息</li>
    <li [class.active]="!isInfo" (click)="onIntroClick()">介绍</li>
  </ul>
  <div [hidden]="!isInfo" class="info-panel-info">
    <table class="info-table table">
      <thead>
        <tr>
          <th colspan="2">
            <caption>Info</caption>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let key of infoKeys">
          <td>{{key}}</td>
          <td>{{info[key]}}</td>
        </tr>
      </tbody>
    </table>
    <table class="data-table table">
      <thead>
        <tr>
          <th colspan="2">
            <caption>Data</caption>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let key of dataKeys">
          <td>{{key}}</td>
          <td>{{data[key]}}</td>
        </tr>
      </tbody>
    </table>
    <div class="complex-data" id="complex-data">
      <info-panel-wrapper [hidden]="!isInfo" [type]="typeComponent" [data]="complexData" *ngIf="typeComponent"></info-panel-wrapper>
    </div>
  </div>
  <p [hidden]="isInfo">{{intro}}</p>
</div>