.cron-row{
  padding: 10px;
  .select-group{
    display: inline-flex;
    width: 100%;
    jn-select{
      flex: 1;
      margin-right: 10px;
      &:last-child{
        margin-right: 0px;
      }
      input.md-input-element{
        padding: 10px 0px;
        border-radius: 0px;
        box-shadow: none;
        border:none;
      }
    }
  }
}