.palette {
  // overflow: scroll !important;
  height: 100%;
  background-color: #808e99;
  .palette-property {
    border-bottom: 1px solid;
    height: 100%;
    &.half {
      height: 50%;
    }
    .palette-title {
      height: 38px;
      width: 200px;
      text-align: center;
      background-color: #5b9edc;
      font-size: 14px;
      line-height: 38px;
      color: #032748;
      border-bottom: 1px solid;
    }
    .connections-title {
      height: 38px;
      line-height: 38px;
      font-size: 14px;
      color: #565b5c;
      text-align: center;
      background-color: #dce7ea;
      border-bottom: 1px solid;
    }
    .palette-node-container {
      overflow: scroll;
      height: calc(100% - 39px);
      .palette-connection {
        border-bottom: 1px solid;
        .palette-connection-title {
          height: 38px;
          line-height: 38px;
          font-size: 14px;
          color: #565b5c;
          text-align: center;
          background-color: #8fadc4;
          border-bottom: 1px solid;
        }
      }
      .palette-node-group {
        padding: 10px 0;
        background-color: #485c6b;
        &.no {
          font-size: 14px;
          color: #485c6b;
          background-color: #808e99;
        }
        &.yes {
          &:hover {
            background: #344654;
          }
        }
        .palette-node {
          width: 152px;
          position: relative;
          cursor: move;
          margin: 0 auto;
          border-radius: 7px;
          border: 2px solid #f1f7fb;
          background-position: 5% 50%;
          background-repeat: no-repeat;
          background-size: contain;
          background-color: transparent;
          .palette-label {
            color: #f1f7fb;
            font-size: 14px;
            overflow: hidden;
            text-align: center;
            // &.right {
            //   margin-left: 0 !important;
            //   margin-right: 40px;
            // }
          }
          .palette-icon {
            text-align: center;
            font-family: FontAwesome;
            float: left;
            // &.left {
            //   left: 0;
            // }
            // &.right {
            //   left: 140px;
            // }
            i {
              font-style: normal;
              color: #f1f7fb;
            }
          }
          .palette-port {
            position: absolute;
            margin-top: -6px;
            top: 50%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            border: 2px solid #f1f7fb;
            &.output {
              left: auto;
            }
            &.connectable {
              background-color: #8fc31f;
            }
            &.disconnectable {
              display: none;
            }
            &.hasOutput {
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}