.palette {
  overflow: scroll !important;
  .palette_property {
    border-bottom: 1px solid;
    .palette_title {
      padding: 10px 0;
      text-align: center;
      background-color: #e1e1e1;
      font-size: 16px;
      border-bottom: 1px solid;
    }
    .palette_connection {
      border-bottom: 1px solid;
      .palette_connection-title {
        padding: 5px 0;
        font-size: 14px;
        text-align: center;
        border-bottom: 1px solid;
      }
    }
    .palette_node-group {
      .palette_node {
        position: relative;
        width: 180px;
        height: 40px;
        cursor: move;
        /*background-color: #ddd;*/
        margin: 10px auto;
        border-radius: 10px;
        border: 1px solid #000;
        background-position: 5% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        .palette_label {
          font-size: 14px;
          margin-left: 40px;
          line-height: 40px;
          overflow: hidden;
          text-align: center;
        }
        .palette_icon {
          position: absolute;
          text-align: center;
          top: 0;
          bottom: 0;
          left: 0;
          width: 40px;
          border-right: 1px solid #000;
          /*background-color: rgba(0, 0, 0, 0.05);*/
        }
        .palette_port {
          position: absolute;
          top: 15px;
          left: -5px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          background-color: #fff;
          border-radius: 3px;
          width: 10px;
          height: 10px;
          border: 1px solid #000;
          &.output {
            left: auto;
            right: -6px;
          }
          &.black {
            background-color: #000;
          }
        }
      }
    }
  }
}