<div class="palette">
  <div class="palette-property">
    <div class="palette-title">
      {{'节点面板' | translate}}
    </div>
    <div class="palette-node-container">
      <div class="palette-node-group" *ngFor="let node of flowNodes;" [ngClass]="{'no': !node.acceptable && !node.directable, 'yes': node.acceptable || node.directable}">
        <div class="palette-function">
          <div draggable [disabled]="!node.acceptable && !node.directable" [dragData]="node" class="palette-node" [ngStyle]="nodeStyle">
            <div class="palette-icon" [ngStyle]="iconStyle">
              <i [ngStyle]="{'font-size': NodeSettings.NODE_ICON_HOLDER_WIDTH}">{{node.icon}}</i>
            </div>
            <div class="palette-label" dir="">{{node.name | translate}}</div>
            <div class="palette-port output" [ngClass]="{'connectable': node.directable, 'disconnectable': !node.directable && !node.hasOutput, 'hasOutput': !node.directable && node.hasOutput}"
              [ngStyle]="outputPortStyle"></div>
            <div class="palette-port input" [ngClass]="{'connectable': node.acceptable, 'disconnectable': !node.acceptable && !node.hasInput, 'hasOutput': !node.acceptable && node.hasInput}"
              [ngStyle]="inputPortStyle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="palette-property" *ngIf="connections && connections.length > 0">
    <div class="connections-title">
      {{'Connections' | translate}}
    </div>
    <div *ngFor="let connection of connections; let j=index;">
      <div class="palette-connection">
        <div class="palette-connection-title">
          {{connection.title}}
        </div>
        <div class="palette-node-container">
          <div class="palette-node-group" *ngFor="let node of connection.properties;" [ngClass]="{'no': !node.acceptable && !node.directable, 'yes': node.acceptable || node.directable}">
            <div class="palette-function">
              <div draggable [disabled]="!node.acceptable && !node.directable" [dragData]="node" class="palette-node" [ngStyle]="nodeStyle">
                <div class="palette-icon" [ngStyle]="iconStyle">
                  <i [ngStyle]="{'font-size': NodeSettings.NODE_ICON_HOLDER_WIDTH}">{{node.icon}}</i>
                </div>
                <div class="palette-label" dir="">{{node.name}}</div>
                <div class="palette-port output" [ngClass]="{'connectable': node.directable, 'disconnectable': !node.directable && !node.hasOutput, 'hasOutput': !node.directable && node.hasOutput}"
                  [ngStyle]="outputPortStyle"></div>
                <div class="palette-port input" [ngClass]="{'connectable': node.acceptable, 'disconnectable': !node.acceptable && !node.hasInput, 'hasOutput': !node.acceptable && node.hasInput}"
                  [ngStyle]="inputPortStyle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>