.palette {
  overflow: scroll !important;
  .palette-property {
    border-bottom: 1px solid;
    .palette-title {
      padding: 10px 0;
      text-align: center;
      background-color: #e1e1e1;
      font-size: 16px;
      border-bottom: 1px solid;
    }
    .palette-connection {
      border-bottom: 1px solid;
      .palette-connection-title {
        padding: 5px 0;
        font-size: 14px;
        text-align: center;
        border-bottom: 1px solid;
      }
    }
    .palette-node-group {
      .palette-node {
        position: relative;
        width: 180px;
        height: 40px;
        cursor: move;
        /*background-color: #ddd;*/
        margin: 10px auto;
        border-radius: 10px;
        border: 1px solid #000;
        background-position: 5% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        .palette-label {
          font-size: 14px;
          margin-left: 40px;
          line-height: 40px;
          overflow: hidden;
          text-align: center;
          &.right {
            margin-left: 0 !important;
            margin-right: 40px;
          }
        }
        .palette-icon {
          position: absolute;
          text-align: center;
          top: 0;
          bottom: 0;
          width: 40px;
          /*background-color: rgba(0, 0, 0, 0.05);*/
          &.left {
            border-right: 1px solid #000;
            left: 0;
          }
          &.right {
            border-left: 1px solid #000;
            border-right: 0px !important;
            left: 140px;
          }
        }
        .palette-port {
          position: absolute;
          top: 15px;
          left: -5px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          background-color: #fff;
          border-radius: 3px;
          width: 10px;
          height: 10px;
          border: 1px solid #000;
          &.output {
            left: auto;
            right: -6px;
          }
          &.connectable {
            background-color: #000;
          }
          &.disconnectable {
            display: none;
          }
        }
      }
    }
  }
}