@import '../../../../assets/styles/global.scss';

$title-font-size: 16px;
$title-color: #485c6b;

$header-height: 48px;
$icon-size: 24px;
$icon-default-color: #82919c;
$icon-active-color: #219be5;
$input-height: 14px;
$input-width: 22px;
$input-padding: 5px 14px;
$toggle-btn-width: 66px;
$toggle-btn-height: 24px;
$toggle-btn-padding: 2px;
$toggle-btn-default-color: #909395;
$toggle-btn-default-border-color: #82919c;
$toggle-btn-active-color: #8fc31f;
$toggle-btn-active-border-color: #7eb604;
$toggle-btn-label-default-color: #869199;
$toggle-btn-label-active-color: #6ea101;
$toggle-slider-width: 28px;

$control-btn-width: 60px;
$control-btn-height: 27px;
$header-margin-left: 15px;
$header-margin-right: 15px;
$control-margin: 10px;

.main-container {
    display: flex;
    width: 100%;
    height: 100%; 
    flex-direction: column;
    .main-header{
        height: $header-height;
        background: #d3dee6;
        display: flex;
        .left-container, .right-container{
            flex:1;
            line-height: $header-height;
        }
        .left-container{
            ul {
                display: inline-block;
                list-style: none;
                margin: 0px;
                height: 100%;
                padding: 0px;
                margin-left: $header-margin-left;
                li{
                    display: block;
                    float: left;
                    margin-right: $control-margin;
                    i.fa{
                        height: 100%;
                        font-size: $icon-size;
                        color: $icon-default-color;
                        line-height: $header-height;
                        position: relative;
                        left: 0px;
                        top: 0px;
                        &:active, &.active{
                            color: $icon-active-color;
                            left: 1px;
                            top: 1px;
                        }
                    }
                    input.scale-size-txt{
                        background: #fff;
                        border: solid 1px #ccc;
                        color: #333;
                        height: $input-height;
                        width: $input-width;
                        font-size: 12px;
                        margin: 0px 5px;
                        padding: $input-padding;
                        text-align: center;
                    }
                    label.scale-percentage{
                        position: relative;
                        top: 2px;
                        left: -18px;
                    }
                }
            }
        }
        .title-container{
            line-height: $header-height;
            min-width: 100px;
            text-align: center;
            label.title{
                font-size: $title-font-size;
                color: $title-color;
                font-weight: bold;
            }
            input.title-txt{
                background: transparent;
                text-align: center;
                width: 100%;
                border:none;
                font-size: $title-font-size;
                color: $title-color;
                font-weight: bold;
            }
        }
        .right-container{
            display: flex;
            direction: rtl;
            ul{
                list-style: none;
                margin: 0px;
                height: 100%;
                padding: 0px;
                margin-right: $header-margin-right;
                display: inline-flex;
                direction: ltr;
                li{
                    display: block;
                    float: left;
                    margin-right: $control-margin;
                    &:last-child{
                        margin-right: 0px;
                    }
                    &.enable-toggle{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &.enabled {
                            label{
                                color: $toggle-btn-label-active-color;
                            }
                            div.btn-toggle{
                                background: $toggle-btn-active-color;
                                border-color: $toggle-btn-active-border-color;
                                div.slider{
                                    left: $toggle-btn-width - $toggle-slider-width - $toggle-btn-padding;
                                    span.fa{
                                        color: $toggle-btn-label-active-color;
                                    }
                                }
                            }
                        }
                        label{
                            color: $toggle-btn-label-default-color;
                            display: inline-block;
                            margin-right: 5px;
                            font-size: 14px;
                            font-weight: bold;
                        }
                        div.btn-toggle{
                            width: $toggle-btn-width;
                            height: $toggle-btn-height;
                            background: $toggle-btn-default-color;
                            border-color: $toggle-btn-default-border-color;
                            border-style: solid;
                            border-width: 1px;
                            border-radius: 4px;
                            cursor: pointer;
                            box-shadow: inset 1px 1px 4px 1px rgba(0,0,0, 0.1);
                            div.slider{
                                width: $toggle-slider-width;
                                height: $toggle-btn-height - 2 * $toggle-btn-padding;
                                background: $color-white;
                                border-radius: 2px;
                                position: relative;
                                left: $toggle-btn-padding;
                                top: $toggle-btn-padding;
                                transition: all 0.2s;
                                box-shadow: 1px 1px 2px 1px rgba(0,0,0, 0.3);
                                text-align: center;
                                line-height: $toggle-btn-height - 2 * $toggle-btn-padding;
                                span.fa{
                                    color: $toggle-btn-label-default-color;
                                    transform: rotate(90deg);
                                }
                            }
                        }
                    }
                    
                    button.btn-save, button.btn-publish{
                        outline: none;
                        height: $control-btn-height;
                        min-width: $control-btn-width;
                        border: solid 2px $icon-active-color;
                        background: transparent;
                        color: $icon-active-color;
                        border-radius: 5px;
                        &:active{
                            background: $icon-active-color;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .main-body{
        flex: 1;
        overflow: hidden;
    }
}
