@import '../../control.scss';

.condition-container{
  margin-bottom: 10px;
  display: flex;
  .title-container{
    width: 80px;
    text-align: center;
    .title-inner{
      margin-top: 5%;
      height: 90%;
      width: 100%;
      border-right: 1px dashed $color-primary;
      color: $color-primary;
    }
  }
  .option-container{
    flex: 1;
    
  }
  &::last-child{
    margin-bottom: 0px;
  }
}