<div class="node-editor">
  <div class="node-editor-header">
    {{(editorModel? editorModel.title : '') | translate}}
  </div>
  <div class="node-editor-body">
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <jn-control-container *ngFor="let control of controls" 
      [controlSchema]="control"></jn-control-container>

    </form>
  </div>
  <div class="node-editor-footer">
    <button (click)="submit()" class="jn-btn btn-success pull-right" type="button">Submit</button>
  </div>
</div>