@import "../../../assets/styles/global";

.editor-modal{
  width: 100%;
  height: 100%;
  top: 0px;
  position: absolute;

  .editor-modal-backdrop{
    background-color: rgba(0,0,0, 1);
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.6s;
  }
  .editor-modal-content{
    height: 100%;
    position: absolute;
    right: -350px;
    width: 350px;
    background: #ebf1f6;
    z-index: 2;
    display: flex;
    transition: all 0.6s;
        
    .node-editor{
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;
      .node-editor-header{
        background: $color-info;
        padding: 20px 10px 10px 10px;
        title, .sub-title{
          color: #fff;
        }
        title{
          line-height: 60px;
          display: inline-block;
          font-size: 20px;
        }
        .sub-title{
          line-height: 30px;
          margin: 0px;
          font-size: 17px;
        }
      }

      .node-editor-body{
        overflow: auto;
        border-bottom: solid 1px #ccc;
        padding: 20px 10px;
        background-color: #f9fcff;
        min-height: 80px;
      }

      .node-editor-footer{
        flex: 1;
        min-height: 58px;
        padding: 10px;
        border-top: 1px solid #ccc;
        text-align: center;
        button{
          margin: 0px auto;
          width: 80%;
          height: 38px;
        }
      }
    }
  }
}
