@import '../../../../assets/styles/global';
.jn-form{
  display: block;
  padding: 0px 10px;
  margin-bottom: 10px;

  .jn-form-label{
    display: block;
    height: 32px;
    line-height: 32px;
    width: 120px;
    font-weight: bold;
    font-size: 14px;
  }
  .jn-form-control{
    width: 100%;
    display: flex;
  }

  &.inline{
    height: 34px;
    line-height: 34px;
    display: flex;
    .jn-form-label{
      width: 80px;
      display: block;
    }
    .jn-form-control{
      flex: 1;
      display: flex;
    }
  }
}