@import '../../controls.scss';

jn-select{
  width: 100%;
  &.auto-width{
    width: auto;
    select{
      width: auto;
      min-width: 50px;
    }
  }
  select{
    background: $color-white;
    border:solid 1px $color-primary;
    height: 37px;
    width: 100%;
  }
}
