<div class="main-container">
  <div class="main-header">
    <button class="btn btn-danger" (click)="submit()">保存</button>
  </div>
  <div class="main-body clearfix">
    <div class="main-body-container">
      <div class="palette">
        <jn-palette></jn-palette>
      </div>
      <div class="canvas">
        <jn-canvas [nodeFlow]="nodeFlow" #nodeCanvas></jn-canvas>
      </div>
      <div class="info-panel">
        <jn-info-panel></jn-info-panel>
      </div>
    </div>
    <jn-node-editor #nodeEditor></jn-node-editor>
  </div>
</div>