.main-container {
    display: flex;
    width: 100%;
    height: 100%; 
    flex-direction: column;
    .main-header{
        height: 40px;
        background: #f0f0f0;
        text-align: center;
        line-height: 40px;
    }
    .main-body{
        flex: 1;
        overflow: hidden;
        .main-body-container{
            width: 100%;
            height: 100%;
            display: flex;
            overflow: hidden;
            .palette {
                width: 200px;
                border: 1px solid #666;
                overflow: scroll;
            }
            .canvas {
                flex: 1;
                border: 1px solid #666;
                overflow: hidden;
            }
            .info-panel {
                width: 0px;
                border: 1px solid #666;
                z-index: 1;
            }
        }
        .editor-modal{
            width: 100%;
            height: 100%;
            top: 0px;
            position: absolute;

            .editor-model-backdrop{
                background: rgba(0,0,0, 0.3);
                width: 100%;
                height: 100%;
                z-index: 1;
            }
            .editor-modal-content{
                height: 100%;
                position: absolute;
                right: 0px;
                width: 450px;
                border: 1px solid #666;
                background: #fff;
                z-index: 2;
                display: flex;
                jn-node-editor{
                    flex: 1;
                }
            }
        }
    }
}
