.main-container {
    position: relative;
    display: flex;
}

.palette {
    float: left;
    width: 200px;
    border: 1px solid #666;
}

.canvas {
    float: left;
    width: 960px;
    border: 1px solid #666;
}

.info-panel {
    float: left;
    width: 250px;
    border: 1px solid #666;
}